@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  min-height: 100vh;
  background-color: #fbfcdb;
  background-image: radial-gradient(
      at 0% 0%,
      hsla(60, 80%, 90%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 0%, rgb(245, 245, 145) 0px, transparent 60%),
    radial-gradient(at 100% 100%, rgb(246, 206, 246) 0px, transparent 60%),
    radial-gradient(at 0% 100%, rgb(254, 205, 221) 0px, transparent 60%),
    radial-gradient(at 50% 50%, #ffffff 0px, transparent 50%);
  background-attachment: fixed;
}

.hero {
  text-align: center;
  padding-top: 110px;
  padding-bottom: 180px;
}

.hero h1 {
  font-family: "Poppins", sans-serif;
  color: #0f4c3a;
  font-size: 120px;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
  letter-spacing: -5px;
}

.hero .subtitle {
  margin-top: 30px;
  font-size: 24px;
  opacity: 0.85;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);

  width: fit-content;
  padding: 12px 24px;
  border-radius: 999px;

  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(0px);
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0);

  z-index: 999;

  transition: background 0.6s ease, backdrop-filter 0.6s ease,
    box-shadow 0.6s ease;
}

.nav.scrolled {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  box-shadow: 0 8px 35px rgba(0, 0, 0, 0.12);
}

nav {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 32px;
}

nav a {
  position: relative;
  padding: 8px 14px;
  border-radius: 777px;
  z-index: 2;
  text-decoration: none;
  color: #2f3a35;
  font-weight: 500;
}

.nav-indicator {
  position: absolute;
  top: 50%;
  width: 50px;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(6px);
  border-radius: 777px;
  transform: translateY(-50%);
  transition: all 0.55s cubic-bezier(0.25, 1, 0.5, 1);
  z-index: 1;
}
